
html {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
div {
    text-align: center;
    margin-top: 200px;
}

div h1 {
    font-size: 40px;
}

button {
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
    border:none;
    border-radius: 10px;
}

button:hover {
    background-color: #DDDDDD;
    color: black;
}

input {
    outline: none;
}

#warning {
    color: #A25600;
    text-align: center;
    margin-top: 200px;
    font-size: 30px;
    font-weight: bold;
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
}