
html
{
    background-image: url(../images/ad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
div
{
    margin-top: 200px;

    text-align: center;
}

div h1
{
    font-size: 40px;
}

button
{
    width: 100px;
    height: 30px;

    color: white;
    border: none;
    border-radius: 10px;
    background-color: black;
}

button:hover
{
    color: black;
    background-color: #ddd;
}

input
{
    outline: none;
}

#warning
{
    font-size: 30px;
    font-weight: bold;

    width: 1000px;
    margin: 0 auto;
    margin-top: 200px;
    margin-top: 100px;

    text-align: center;

    color: #a25600;
}
