*
{
    margin: 0;
    padding: 0;
}

body
{
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header
{
    line-height: 20px;

    height: 80px;

    background-color: #2e3e44;
}

header h1
{
    float: left;

    width: 20%;
}

header h1 a img
{
    width: 40px;
    margin-top: 20px;
    margin-left: 30px;
}

header nav ul
{
    float: right;

    margin-top: 5px;

    list-style: none;
}

header nav ul li
{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: lighter;
    line-height: 3rem;

    display: inline-block;

    margin: 10px;

    color: white;
}

a:link, a:visited {
    text-decoration: none;
    color: #fff;
}

header nav ul li:last-child
{
    margin-right: 80px;
}

main
{
    text-align: center;
}

body main a img
{
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 60px;
}

main h1
{
    font-family: serif;
    font-size: 3.5rem;
    font-weight: lighter;

    margin-bottom: 30px;

    letter-spacing: 3px;

    color: white;
}

main p
{
    font-family: sans-serif;
    font-size: 1.4rem;
    font-weight: lighter;
    line-height: 1.8rem;

    text-align: center;

    color: #adbfc5;
}

footer
{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: lighter;

    margin-top: 700px;
    margin-bottom: 60px;

    text-align: center;

    color: white;
}

footer a
{
    color: white;
}
